NODE_ENV=production
PORT=3000
LOG_LEVEL=info

# Database Configurations
DATABASE_URL=
DATABASE_NAME=

# NEON Configurations
NEON_API_KEY=
NEON_PROJECT_ID=
PARENT_BRANCH_ID=

DELETE_BRANCH=false

# JWT Configurations
JWT_SECRET=
CORS_ORIGIN=http://yourdomain.com
# Arcjet
ARCJET_KEY=