NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

# Database Configurations
DATABASE_URL=
DATABASE_NAME=

# NEON Configurations
NEON_API_KEY=
NEON_PROJECT_ID=
PARENT_BRANCH_ID=

DELETE_BRANCH=true

# JWT Configurations
JWT_SECRET=

# Arcjet
ARCJET_KEY=